name: Build APK

on:
  push:
    branches:
      - main
jobs:
  build-apk:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install dependencies
        run: npm install -f

      - name: Build Android APK
        run: |
          cd android
          .\gradlew assembleRelease
      - name: Sign APK
        id: sign_app
        uses: r0adkll/sign-android-release@v1
        with:
          releaseDirectory: ${{ github.workspace}}/app-name/android/app/build/outputs/apk/release
          signingKeyBase64: ${{ secrets.ANDROID_SIGNING_KEY }}
          alias: ${{ secrets.ANDROID_SIGNING_ALIAS }}
          keyStorePassword: ${{ secrets.ANDROID_SIGNING_STORE_PASSWORD }}
          keyPassword: ${{ secrets.ANDROID_SIGNING_KEY_PASSWORD }}
      - name: Upload APK
        id: uploadArtifact
        uses: actions/upload-artifact@v4
        with:
          name: app
          path: ${{steps.sign_app.outputs.signedReleaseFile}}